body, html {
  min-height: 100%;
}

body {
  background-color: rgb(139, 76, 0);
  background-image: linear-gradient(rgb(247, 219, 171), rgb(249, 197, 119), rgb(255, 178, 44), rgb(230, 168, 12), rgb(139, 76, 0));
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: ivory;
  margin-top: 25px;
  background-repeat: no-repeat;
}


/* input {
  background-color: black;
  border: 3px solid black;
  border-radius: 20px;
  text-align: center;
  color: ivory;
  width: 35%;
  margin: 10px;
  margin-bottom: 30px;
}

.btn {
  border: 3px solid black;
  border-radius: 15px;
  background-image: radial-gradient(rgb(94, 92, 92), rgb(18, 18, 155));
  color: ivory;
  margin: 25px;
  font-size: 140%;
}

.btn:hover {
  cursor: pointer;
  opacity: .8;
}

select {
  background-color: black;
  margin: 15px;
}

.box {
  background-color: rgba(255, 255, 255, 0.199);
  margin: 50px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 20px;
  color: ivory;
  border-radius: 15px;
}

a {
  color: darkblue;
}

i {
  color: ivory;
  margin: 25px;
}

pre {
  background-color: transparent;
  border: none;
  color: gold;
}

.mdl-layout__drawer {
  background-color: rgb(7, 121, 121);
  color: ivory;
  border-radius: 15px;
  border: 5px solid black;
}

.link {
  color: ivory;
  margin-bottom: 30px;
} */