body, html {
  min-height: 100%;
}

body {
  background-color: rgb(8, 0, 63);
  background-image: linear-gradient(rgb(8, 0, 63), rgb(8, 0, 63), rgb(8, 0, 63), rgb(167,162,175), ivory);
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: ivory;
  margin-top: 25px;
  background-repeat: no-repeat;
}


input {
  background-color: ivory;
  text-align: center;
  color: rgb(8, 0, 63);
  width: 35%;
  margin: 10px;
  margin-bottom: 30px;
}

.btn {
  background-color:rgb(242,187,104);
  color: rgb(8, 0, 63);
  margin: 25px;
  font-size: 100%;
}

.btn:hover {
  cursor: pointer;
  opacity: .8;
}

select {
  background-color: rgb(8, 0, 63);
  margin: 15px;
}

a {
  color: rgb(242,187,104);
}

i {
  color: ivory;
}

.mdl-layout__drawer {
  background-color: ivory;
  color: rgb(8, 0, 63);
}

.link {
  color: rgb(242,187,104);
  margin-bottom: 30px;
}

.edit {
  font-style: italic;
}

.subtext {
  color: rgb(242,187,104);
  font-style: italic;
}