
@{
  Layout = "_Layout";
}
<div class="subtext">
<p>A Member Driven<p>
</div>
<h1>Sweet & Savory Treats Await You!</h1>
<div class="subtext">
<P>Baked Goods Collaberative</P>
</div>
<br>
<img id="doctor-gif" src="https://media.giphy.com/media/kdhq6DVrv9GSdmSjkV/giphy.gif" alt="Doctor">