@{
  Layout = "_Layout";
}

@using PierresTreats.Models;
@using System.Security.Claims
@model IEnumerable<PierresTreats.Models.Flavor>

<h1>Flavors for @User.Identity.Name</h1>

@if (Model.Any())
{
  @foreach (Flavor flavor in Model)
  {
    <p>@Html.ActionLink($"{flavor.Description}", "Details", new { id = flavor.FlavorId })</p>
  }
} 
else
{
  <h3>No flavors have been added yet!</h3>
}
<br>
<div class="edit">
<p>@Html.ActionLink("Add new flavor", "Create")</p>
</div>